openapi: 3.0.0
info:
  title: API Converse
  version: v2
  description: This API contains all the endpoints needed by the surirobot to be able to handle a conversation with humans being.
servers:
  - url: 'https://converse.api.suricats-consulting.com/api'
    description: Main (production) server
  - url: 'https://converse.api.surirobot.fr/api'
    description: Dev server
paths:
  /stt/google/recognize:
    post:
      summary: Convert voice to text using Google Cloud Speech API
      operationId: sttGoogleRecognize
      tags:
        - Speech-To-Text
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/STTGoogleRequest'
      responses:
        200:
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/STTGoogleResponse'
        400:
          description: Wrong parameter(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: API Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        503:
          description: Google API is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /tts/ibm/speak:
    post:
      summary: Convert text to voice using IBM Watson API
      operationId: ttsIbmSpeak
      tags:
        - Text-Speech
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TTSIBMRequest'
      responses:
        200:
          description: Operation successful
          content:
            audio/wav:
              schema:
                $ref: '#/components/schemas/TTSIBMReponse'
        400:
          description: Wrong parameter(s)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: API Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        503:
          description: IBM API is not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    STTGoogleRequest:
      required:
        - audio_file
        - language
      properties:
        audio_file:
          type: string
          format: binary
        language:
          type: string
          enum:
            - fr-FR
            - en-US
    STTGoogleResponse:
      required:
        - text
        - confidence
      properties:
        text:
          type: string
        confidence:
          type: number
          format: float
    TTSIBMRequest:
      required:
        - text
        - language
      properties:
        text:
          type: string
        language:
          type: string
          enum:
            - fr-FR
            - en-US
    TTSIBMReponse:
      type: string
      format: binary
    Error:
      required:
        - code
        - msg
      properties:
        code:
          type: string
          enum:
            - api_error
            - external_api_error
            - invalid_credentials_error
            - operation_failed
            - missing_parameter
            - bad_parameter
        msg:
          type: string
    ErrorResponse:
      required:
        - errors
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
